body {
  font-family: 'Dancing Script', cursive;
  background-image: url(../images/gif1.gif);
  background-repeat: no-repeat;

  background-position: center;
color: white;
background-color: black;
padding:  50px;
text-align: center;
font-size: 20px;
font-family: 'Indie Flower', cursive;

}

.change {
  border-style: dotted;
  padding: 15px;
  font-size: 10px;
  text-align: center;
  margin: 10px;
  height: 200px;

}
.btn-new {
  border-radius: 5px;

}
.btn-roll {
  border-radius: 5px;
}
.btn-hold {
  border-radius: 5px;
}
placeholder {

}*/
