body {
  font-family: 'Dancing Script', cursive;
  background-image: url(../images/gif1.gif);
  background-repeat: no-repeat;

  background-position: center;
color: white;
background-color: black;

}
div.dice {
  float: left;
  width: 40px;
  border-style: dotted;
  paddiing: 15px;
  font-size: 30px;
  text-align: center;
  margin: 10px;
}
